<!--Se extiende desde base html -->
{% extends 'core/base.html'%}
<!--Se extiende de title -->
{% block title %} Contacto | Portafolio {% endblock%}


{% load static %}

{% block estilos %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'core/css/contacto.css' %}">
{% endblock %}

<!-- De igual manera que en la base.html se ocupa el block content-->
{% block contenido %}

<section>
    
    <article>
        <img class="img-fluid" src="https://github.com/gonzalor9991/portafolio/blob/main/core/static/core/img/logo_empresa_2.png?raw=true" alt="">
    </article>
   
    
    <article class="art-1">
        <img class="img-fluid" src="" alt="">
        <h1>Contacto</h1>
        <h4>Gracias por visitar mi portafolio, es una creacion con mucho amor y dedicacion.</h4>
    </article>
    
    <article class="art-btn">
        
        <a  href="mailto:decisions.developer@gmail.com?&subject=Importante.">
            <button class=" form-control btn">Ir al correo</button>
        </a>
            
    </article>
    
    
</section>

{% endblock%}


{% block scripts %}

{% endblock %}