asgiref===3.4.1
beautifulsoup4===4.10.0
Django===4.0
django-bootstrap4===21.1
django-ckeditor===6.0.0
django-js-asset===1.2.2
Pillow===8.1.2
pip===21.3.1
setuptools===58.3.0
soupsieve===2.3.1
sqlparse===0.4.2
tzdata===2021.5
wheel===0.37.0