<!--Se extiende desde base html -->
{% extends 'core/base.html '%}
<!--Se extiende de title -->
{% block title %} Inicio | Portafolio {% endblock%}


{% load static %}

<!-- De igual manera que en la base.html se ocupa el block content-->
{% block contenido %}

<div class="div">
  <h1>Bienvenidos a mi Portafolio!</h1>
</div>

<div class="div-info">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <h4>
        El exito no es definitivo.
        <br>
        El fracaso no es fatal. Lo que
        cuenta es el valor para continuar.
        <br>
        <br>
          "Winston Churchill "
      </h4>
    </div>
    <div class="col"></div>
  </div>
  
</div>




{% endblock%}