<!--Se extiende desde base html -->
{% extends 'core/base.html'%}
<!--Se extiende de title -->
{% block title %} Inicio | Portafolio {% endblock%}


{% load static %}

{% block estilos %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}

<!-- De igual manera que en la base.html se ocupa el block content-->
{% block contenido %}

<div class="row row-inicio">
  <div class="col">
    
    <div class="div-titulo">
          <h1 class="texto-titulo">
            GONZALO ROJAS
          </h1>
          <h2 class="texto-titulo txt">DESARROLLADOR</h2>
          
    </div>
  </div>
</div>

 
    <div class="row fondo">
        <div class="col-1"></div>
        <div class="col">
          <img class="img-fluid img-fondo" src="https://github.com/gonzalor9991/portafolio/blob/main/core/static/core/img/logo_empresa_2.png?raw=true" alt="">

        </div>
      
        <div class="col-1"></div>
    </div>

    
    <div class="row row-cafe">
      <div class="col">
       
        <div class="div-cafe" >
          <div class="row">
            <div class="col" id="div-cafe">

            </div>
          </div>
          
        </div>
       
      </div>
    </div>

    <section>
      <article>
        <hr>
        <h2 class="titulo-p">Proyectos realizados</h2>
        {% for card in cards  %}
        <div class="row row-card">
            <div class="col-1"></div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img class="img-fluid img-card" src="{{card.src}}" alt="">
                        <h5 class="card-title">{{card.titulo}}</h5>
                        <p class="card-text">{{card.contenido}}</p>
                        <a href="{{card.link}}" target=" _blank">
                          <button class=" form-control btn-card">Visitar</button>
                        </a>
                      
                    </div>
                </div>
            </div>  
            <div class="col-1"></div>
         
          
        </div>
        {% endfor %}
      </article>
      <hr>
    </section>
  
    
   
  
  


{% endblock%}


{% block scripts %}
<script src="{% static 'core/js/index.js' %}"></script>
{% endblock %}