<!--Se extiende desde base html -->
{% extends 'core/base.html '%}
<!--Se extiende de title -->
{% block title %} Skills | Portafolio {% endblock%}


{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'core/css/skills.css' %}">
{% endblock %}

<!-- De igual manera que en la base.html se ocupa el block content-->
{% block contenido %}

<div class="container" id="main">
    

</div>







{% endblock%}ç


{% block scripts %}
<script src="{% static 'core/js/skills.js' %}"></script>
{% endblock %}


