



.card{
    border-radius: 2rem;
    background: #fff7;
    color: black;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 3%;
    transition: all 0.5s ease;
}

.card:hover{
    border-radius: 2rem;
    margin-left: 20%;
    width: 65%;
    cursor: pointer;
    box-shadow: 0px 0px 1rem rgb(0, 0, 0,0.8);
    
}

.card-img-top{
    border-radius: 2rem;
}

.section-titulos{
    background: #f7c02d;
    
}

.h1-titulos{
    text-align: center;
    padding-top: 2%;
}
.text-titulo{
    text-align: center;
    color: white;
    font-size: 145%;
    font-weight: bold;
}
.pista{
    
    border-bottom-color: white;
    border-bottom-style: dotted;
}
.img-fluid{
    width: 5%;
    position: relative;
}

.titulo-1{
    left: 25%;
}

.titulo-2{
    left: 70%;
}

.icono-titulo{
    left: 47%;
    width: 5%;
    opacity: 0;
}
.about-titulo{
    height: 10vh;
    padding: 2%;
    text-align: center;
    background: #c33959b0;
    width: 40%;
    margin-left: -10%;
    margin-top: -7%;
}

.about-img{
    width: 80%;
    margin: 7%;
}

.about-contenido{
    width: 79%;
    background: #99394f;
    color: white;
    padding: 0%;
    font-size: x-large;
    margin-left: 12%;
    margin-top: 0%;
}

.col{
    padding: 1%;
}
  
@keyframes icono-1 {
    from {left: 25%;}
    to {left: 35%;}
    
}



@keyframes icono-3 {
    from {left: 90%;}
    to {left: 77%;}
    
}

@keyframes mover {
    from {top: 11%;}
    to {top: 13%;}
    
}

.div-titulo{
    background: yellow;
    margin: 0;
    height: 200px;
}

.titulo{
    margin: 0;
    position: absolute;
    left: 42%;
    top: 9%;
    color: #f2e8e2;
    font-weight: bold;
    font-size: 7rem;
}

.div-icon{
    position: absolute;
    top: 70%;
    color: rgb(255, 255, 255);
}


