
.row{
    margin: 0;
    opacity: 1;
    animation-name: row;
    animation-duration: 5s;
}

.art-1{
    background: #463f57;
    color: white;
    padding: 2%;
    margin-top: -7%;
}


.art-btn{
    margin-top: 5%;
}
h1{
    font-family: 'Krona One', sans-serif;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 300%;
    transition: all 0.5s ease;
}

h4{
    font-family: 'Krona One', sans-serif;
    text-align: center;
    margin-bottom: 4%;
    font-size: 150%;
}

h1:hover{
    text-decoration-line:underline;
}

.btn{
    width: 45%;
    margin-left: 29%;
    background: #463f57;
    color: white;
    transition: all 0.4s ease;
    font-weight: bolder;
}

.btn:hover{
    background: rgb(255, 255, 255);
    color: #463f57;
    border-style: solid;
    border-color: #463f57;
    font-weight: bolder;

}

.img-fluid{
    margin-left: 35%;
    width: 30%;
    margin-top: -7%;
}

@keyframes letra {
    from {font-size: 0%;}
    to {font-size: 300%;}    
}

@keyframes h4 {
    from {font-size: 0%;}
    to {font-size: 200%;}    
}



@keyframes row {
    from {opacity: 0;}
    to {opacity: 1;}    
}