

.fondo{
    width: 100%;
    background-color: white;
    margin: 0;
    
}


a .btn-card{
    color: black;
    
}

a .btn-card:hover{
    animation-name: color;
    animation-duration: 5s;
}

.card-title{
    text-align: center;
    margin: 5%;
}

.card{
    transition: all 0.3s ease;
    border-radius: 2rem;
    background-color: white;
}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 0px 1rem rgb(0, 0, 0,0.8);
}






.img-fondo{
    width: 50%;
    margin-left: 25%;
    transition: all 1s ease;
}
.img-fondo:hover{
    margin-left: 22%;
    width: 60%;
    cursor: pointer;
}
.div-titulo{
    font-family: 'Krona One', sans-serif;
    margin-top: 10%;
    
}

.txt{
    margin-bottom: 10%;
}


.row{
    margin: 0;
}
.row-inicio{
    background: #585166;
}
.texto-titulo{
    color: white;
    text-align: center;

}

.titulo-p{
    text-align: center;
    margin-bottom: 4%;
}

article{
    margin: 10%;
    animation-name: section;
    animation-duration: 6s;
}


.row-cafe{
    background: white;
   
}

.img-cafe{
    width: 5%;
    margin: 2%;
}



.div-cafe{
    margin-left: 8%;
}

.h4-cafe{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: xx-large;
    margin: 2%;
}

.row-card{
    margin-bottom: 4%;
}


@keyframes letra {
    from {font-size: 0%;}
    to {font-size: xxx-large;}    
}

@keyframes section {
    from {display: none;}
    to {display: none;}    
}

@keyframes color {
    from {background-color: white; color: white}
    to {background-color: #007bff ; color: white;}    
}

@keyframes cafe {
    from {width: 5%}
    to {width: 5.8%;}    
}


