

body{
    background: url(https://github.com/gonzalor9991/portafolio/blob/main/core/static/core/img/fondo_negro.jpg?raw=true);
    font-family: 'Times New Roman', Times, serif;
}

.menu ul li a:hover{
    font-size: 130%;
    text-decoration: none;
    cursor: pointer;
}




.img-card{
    width: 50%;
    margin-left: 26%;
}

.card-div{
    width: 13rem;
    background: #0a060677;
    backdrop-filter: brightness(0.2);
    color: white;
    padding: 3%;
    border-radius: 10%;
    margin-bottom: 10%;
    transition: all 0.5s ease;
}

.col{
    padding: 4%;
}
.card-div:hover{
    width: 14rem;
    background: #0a060677;
    animation-name: mover;
    animation-duration: 1s;
    
}

.card-title{
    margin: 0;
    text-align: center;
}

.row{
    width: 100%;
    margin-top: 5%;
}

.barra{
    width: 100%;
    height: 5px;
    background: #2f2f2f;
    margin-top: 2%;
}

.progress{
    width: 70%;
    height: 5px;
    background: green;
}

.porcentaje{
    margin: 0;
    text-align: end;
}

.h3-div{
    background: #0007;
    padding: 2%;
    backdrop-filter: blur(10px);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: xxx-large;
}

hr{
    height: 5%;
    width: 100%;
    background: #605e5e;
}


@keyframes mover {
    from {transform: rotate(-5deg);}
    to {transform: rotate(5deg);}    
}
